.news-item {
	min-width: 32%;
  padding: 16px;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  gap: 16px;
	flex: 1;
}

.news-item_active {
	flex: 1 0 100%;
}

.news-item_active .button {
	margin-left: auto;
}

.date {
  font-family: "IBM Plex Mono";
}

.arrow {
  text-align: right;
  width: 100%;
}

.arrow-img {
  transition: all 200ms linear;
}

.arrow-active {
  transform: rotate(0.5turn);
}

.arrow:hover {
  background-color: rgba(22, 22, 22, 0.1);
}

.arrow:hover {
  cursor: pointer;
  opacity: 0.8;
}

.social {
  display: flex;
  gap: 8px;
	margin-bottom: auto;
}

.social__item {
  display: flex;
  align-items: center;
}

.button {
  height: 40px;
  background-color: #006ccf;
  text-transform: uppercase;
  padding: 0 16px;
  text-align: center;
}

.button:hover {
  opacity: 0.8;
}
