.tag {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0.1rem 0;
}

.tag-blue {
    background-color: #096ac8;
}

.tag-blue:hover {
    background-color: #0b80f5
}

.tag-white {
    background-color: #eaebeb;
    color: #8D8D8D;
}

.tag-white:hover {
    background-color: #fcfcfc;
    color: #070707;
}

.tag-white:hover > img {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

.tagSpan {
    padding-right: 0rem !important; 
}

.tag > button {
    display: flex;
    justify-content: center;
}



/* ---------------------------------------------------------------- */
.tags-container {
    /* margin-top: -0.5rem; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.tags-container label {
    margin-bottom: 0.5rem;
}

.tags-container .tag {
    min-width: calc(100% / 4 - 3%);
    padding: 0 3%;
    justify-content: space-between;
    gap: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.32px;
}

.tags-container > .tagsButton {
    margin-top: -0.3rem;
}

.tagsButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.tagsButton :hover {
    color:#006CCF
}

.tags-hideAll div {
    display: flex;
    align-items: flex-end;
}

.tags-hideAll img {
    transform: rotate(180deg) translateY(-0.4rem);
}