.checkSites-container {
    position: relative;
}

.checkButton-wrapper {
    width: 24%;
    border: 1px solid #0F62FE;
}

.checkButton-wrapper:hover {
    color: #0F62FE;
    cursor: pointer;
}

.checkButton-inner {
    width: 100%;
    padding: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161616;
}

.sitesList-wrapper {
    width: 24%;
    background-color: #161616;
    position: absolute;
    border: 1px solid #0F62FE;
}

.sitesList-element {
    padding: 0.1rem 1rem;;
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.sitesList-element:hover {
    background-color: #0b11d866;
    cursor: pointer;
}