.news-filter {
  background-color: #272728;
  width: 332px;
}

.news-source-item {
  padding: 1.5rem 1.5rem;
  max-width: 332px;
}

.accordion-header {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 2px solid var(--light-blue, #006ccf);
}

.accordion-header img {
  grid-column: 3;
  justify-self: end;
}

.accordion-radio {
  margin-right: 1rem;
}

.accordion-title {
  margin-right: 1rem;
}

.sites-data-container {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.site-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.site-title {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
}

.site-checkbox {
  /* Additional styling for the checkbox if needed */
}

/* Style for rotating the arrow */
.data-filters {
  margin-top: 20px;
}

.date-range {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.date-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

