.newsPage {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
	flex-direction: column;
}

.contentOrganizationTabsContainer {
  flex: 1;
}

.news {
  display: flex;
  flex-direction: column;
  flex: 3;
  width: 100%;
  margin-bottom: 16px;
}

.news__loading {
	margin: auto auto;
}

.news__pages {
	display: flex;
	gap: 10px;
}

.news__block {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.news-select__control {
  width: 288px !important;
  background-color: #161616 !important;
  border: 2px solid #0f62fe !important;
  text-transform: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.news-number__control {
  width: 78px !important;
  height: 48px !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border: none !important;
  text-align: center;
  background-color: #161616 !important;
}

.news-select__single-value,
.news-number__single-value {
  color: #fff !important;
}

.news-select__indicator-separator,
.news-number__indicator-separator {
  display: none !important;
}

.news-select__menu,
.news-number__menu {
  background-color: #161616 !important;
  color: #a8a8a8 !important;
  text-transform: none !important;
}

.news-number__menu {
  width: 48px !important;
}

.news-select__option,
.news-number__option {
  background-color: #161616 !important;
}

.news-number__option {
  width: 48px !important;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.news-select__option:hover,
.news-select__option:focus-visible,
.news-number__option:hover,
.news-number__option:focus-visible {
  background-color: #0f62fe !important;
  cursor: pointer !important;
}

.news__paginate {
	display: flex;
	justify-content: flex-end;
}

.news__paginate li a {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.news__paginate li a:hover {
	cursor: pointer;
}

.news__paginate .active {
	border-bottom: 4px #006CCF solid;
}

.icon-block {
  display: flex;
  align-items: center;
}

.icon-block span:not(:first-child) {
  display: inline-block;
  text-align: center;
  min-width: 48px;
  min-height: 48px;
}

.icon-block span:hover:not(:first-child) {
  cursor: pointer;
  background-color: #262626;
}

.icon-block span img {
  position: relative;
  top: 50%;
  transform: translateY(70%);
}
