body {
  background-color: #161616;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
