body {
  background-color: #161616;
  color: #fff;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
	width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "IBM Plex Sans", sans-serif;
}
